 <h1>Angular Structural Diectives</h1>
<button (click)="changeFlag()">Show or Hide Div</button>
<br>
<div *ngIf="flag" [ngStyle]="myStyle">
  <ul>
    <li *ngFor="let vec of vehicles" (click)= "setSelectedItem(vec)">{{vec}}</li>
  </ul>
  <br>
  <b [ngClass]="myClass">You have Selected : {{ selectedVehicle }}</b>
  <br>
  <div [ngSwitch]="selectedVehicle">
    <font color="green" *ngSwitchCase="'TwoWheeler'">Bike</font>
    <font color="blue" *ngSwitchCase="'ThreeWheeler'">Auto</font>
    <font color="gold" *ngSwitchCase="'FourWheeler'">Car</font>
    <font color="red" *ngSwitchDefault>Invalid</font>
  </div>
  <button (click) = changeClass()>changeClass</button>
</div>